<div class="settings">
  <div class="settings__button"
       [ngClass]="{'settings__button_open': showSettings}"
       (click)="toggleSettings()">
    <img *ngIf="!showSettings" src="../../../../../assets/coffee-board/icon/settings.svg" alt="">
    <img *ngIf="showSettings" src="../../../../../assets/coffee-board/icon/close.svg" alt="">
  </div>
  <div *ngIf="showSettings" class="settings__body">
    <div class="settings__body-line">
      <span>Static</span>
      <span>
            <div class="switch">
              <input type="checkbox" name="toggle" id="toggle"
                     [checked]="!boardS.staticBg"
                     (change)="boardS.staticBg = !boardS.staticBg">
              <label for="toggle"><i></i></label>
            </div>
        </span>
      <span>Dinamic</span>
    </div>
    <div class="settings__body-line">
      <span>Lang 1 (ENG)</span>
      <span>
            <div class="switch">
              <input type="checkbox"
                     name="LANG"
                     [checked]="(boardS.language != 'Lang 1') ? true : false"
                     (change)="boardS.changeLanguage($event)">
              <label [for]="boardS.language"><i></i></label>
            </div>
          </span>
      <span>Lang 2 (UKR)</span>
    </div>
    <div class="settings__body-line settings__body-line_border">
      <span>Edit Mod</span>
      <span>
          <div class="switch">
            <input type="checkbox"
                   name="editModInp"
                   id="editModInp"
                   [checked]="boardS.editMod"
                   (change)="boardS.editMod = !boardS.editMod">
            <label for="editModInp" class="change-color"><i></i></label>
          </div>
        </span>
      <span></span>
    </div>
    <div class="settings__body-line">
      <span>Reset BORD's</span>
      <span>
          <div class="switch">
            <input type="checkbox"
                   name="resetBORD"
                   id="resetBORD"
                   (change)="boardS.resetBORD($event)">
            <label for="resetBORD" class="change-color"><i></i></label>
          </div>
        </span>
      <span></span>
    </div>
  </div>
</div>