.settings {
  width: 30px; height: 30px;
  position: absolute;
  right: -50px; top: 25px;

  overflow: visible;
  z-index: 10;

  &__button {
    width: 150%; height: 150%;
    position: absolute;
    right: -4px; top: -5px;

    padding: 3px 10px 10px 3px;

    border-radius: 50%;
    z-index: 11;

    &_open {
      background: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__body {
    width: 450px; height: 300px;
    position: absolute;
    left: -13px; top: -7px;

    padding-top: 40px;

    background: #fff;
    border-radius: 25px;
    box-shadow: -2px 2px 6px -2px #000;

    &:after {
      content: '';
      display: block;
      width: 98%; height: 96%;
      position: absolute;
      top: 2%; left: 1%;

      border-radius: 20px;
      border: 4px solid #e1e1e1;
      box-shadow: 0 0 10px -2px #000;

      box-sizing: border-box;
    }

    &-line {
      display: block;
      margin-top: 10px;
      .to-center {
        width: 100%; height: 40px;
      }

      &_border {
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid #e1e1e1;
      }
    }

    span {
      width: 33%;
      display: inline-block;

      text-align: center;
      line-height: 30px;
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
}