<div class="bord-list-header">
  <h3 class="title">{{ title }}</h3>

  <div class="cap-line">
    <span class="cap-line__item" [style.height.px]="lineHeight" [style.width.px]="lineHeight">
      <span class="cap-line__item-wrapper cap_small">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="200" viewBox="0 0 417 391" version="1.1">
          <defs>
            <path id="smoke" d="M72.1 80.9C72.1 71.5 70.3 61.5 79.1 57.4 91.4 51.8 116.1 46.5 108.6 34 94.6 10.5 105.4 1.5 99.8 0.2 92.4-1.6 79.1 11.3 79.1 15.5 79.1 26.3 96.4 36.4 89.1 40.1 81.7 43.9 54.1 40.5 58.5 57.4 62.9 74.3 72.1 103.2 72.1 80.9Z" fill="#A2B6BE"></path>
            <g id="Cup">
              <path d="M7 143L18 306C18.1 307.1 19 308 20.1 308L116.9 308C118 308 118.9 307.1 119 306L130 143Z" id="Cup-body" fill="#FFFFFF"></path>
              <path d="M18 306C18 307.1 18.9 308 20 308L117 308C118.1 308 119 307.1 119 306Z" id="Cup-base" fill="#DADADA"></path>
              <path d="M7 143L125 206 130 143Z" id="Cup-bodyUpperShadow" opacity="0.2" fill="#C8D8DE"></path>
              <path d="M14.3 252L15.2 265 123 252Z" id="Cup-bodyLowerShadow" opacity="0.2" fill="#C8D8DE"></path>
              <rect id="Cup-upperBorder" fill="#C3D4DB" x="0" y="120" width="138" height="24" rx="4"></rect>
              <path d="M4 120C1.8 120 0 121.8 0 124L0 140C0 142.2 1.8 144 4 144L134.9 144C135 144 137.2 143.5 135 142.8L63.2 121.2C61.1 120.5 57.6 120 55.4 120Z" id="Cup-upperBorderShadow" fill="#B7CCD5"></path>
              <path d="M9.9 191C7.5 191 6 192.8 6 195L9.4 250C9.5 252.2 11.4 254 13.6 254L122.4 254C124.6 254 126.5 252.2 126.6 250L129.9 195C130 192.8 128.3 191 126.1 191Z" id="Cup-lowerBorder" fill="#A2B6BE"></path>
              <path d="M9.9 191C7.5 191 6 192.8 6 195L9.4 250C9.5 252.2 11.4 254 13.6 254L122.4 254C124.6 254 124.7 253.4 124.6 252.8L41.9 193.3C40.1 192 36.8 191 34.6 191Z" id="Cup-lowerBorderShadow" fill="#98ACB5"></path>
              <rect id="Cup-bottleneck" fill="#FFFFFF" x="15" y="104" width="109" height="16"></rect>
              <path d="M57.5 97C55.6 97 53.4 98.4 52.6 100.2L51 104 91 104 89.9 100.3C89.3 98.5 87.3 97 85.3 97L57.5 97Z" id="Cup-bottleneckTip" fill="#F1F1F1"></path>
            </g>
          </defs>
          <g id="CoffeeCupSmaller" transform="translate(110, -150) scale(1.5)">
            <use id="CoffeeCup-smokeInverted"
                 class="cup-smoke_small"
                 xlink:href="#smoke"
                 transform="translate(62 38) scale(-1 1) translate(-79 -48)"></use>
            <use xlink:href="#Cup"></use>
          </g>
        </svg>
        <span class="cap-size">150</span>
      </span>
    </span>

    <span class="cap-line__item" [style.height.px]="lineHeight" [style.width.px]="lineHeight">
      <span class="cap-line__item-wrapper cap_midle">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="200" viewBox="0 0 417 391" version="1.1">
          <g class="coffee-cup" transform="translate(85, -220) scale(1.9)">
            <use class="cup-smoke_middle" xlink:href="#smoke" transform="translate(62 38) scale(-1 1) translate(-79 -48)"></use>
            <use xlink:href="#Cup"></use>
          </g>
        </svg>
        <span class="cap-size">250</span>
      </span>
    </span>

    <span class="cap-line__item" [style.height.px]="lineHeight" [style.width.px]="lineHeight">
      <span class="cap-line__item-wrapper cap_large">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="200" viewBox="0 0 417 391" version="1.1">

          <g class="coffee-cup" transform="translate(45, -340) scale(2.4)">
            <use class="cup-smoke_large" xlink:href="#smoke" transform="translate(62 38) scale(-1 1) translate(-79 -48)"></use>
            <use xlink:href="#Cup"></use>
          </g>
        </svg>
        <span class="cap-size">350</span>
      </span>
    </span>
  </div>
</div>
