
<!-- DYNAMIC BG -->

<coffee-board-bg [ngClass]="{'show': bgType}" class="bord-bg"></coffee-board-bg>

<!-- Logo -->

<div class="logo">

  <div class="logo-wrapp" [ngClass]="{'loaded': logoLoaded }">
    <label class="logo-wrapp__file-label" for="filesLogo">LOGO 200x80</label>
    <input type="file" id="filesLogo" class="logo-wrapp__file-input" (change)="uploadImage($event, uploadLogoImg, linkDownload)"/>
    <img id="image" #uploadLogoImg/>
    <a href="" #linkDownload></a>
  </div>

  <!-- Settings  -->

   <div class="settings">
    <div class="settings__button" [ngClass]="{'settings__button_open': showSettings}" (click)="toggleSettings()">
      <img *ngIf="!showSettings" src="assets/icon/settings.svg" alt="">
      <img *ngIf="showSettings" src="assets/icon/close.svg" alt="">
    </div>
    <div *ngIf="showSettings" class="settings__body">
      <div class="settings__body-line">
        <span>Static</span>
        <span>
            <div class="switch">
              <input type="checkbox" name="toggle" id="toggle"
              [checked]="bgType" (change)="bgType = !bgType">
              <label for="toggle"><i></i></label>
            </div>
        </span>
        <span>Dinamic</span>
      </div>
      <div class="settings__body-line">
          <span>Lang 1 (ENG)</span>
          <span>
            <div class="switch">
              <input type="checkbox"
                     [checked]="(boardS.language != 'Lang 1') ? true : false"
                     name="LANG"
                     (change)="boardS.changeLanguage($event)">
              <label [for]="boardS.language"><i></i></label>
            </div>
          </span>
        <span>Lang 2 (UKR)</span>
      </div>
      <div class="settings__body-line"
           style="margin-top: 10px; border-top: 1px solid #e1e1e1; padding-top: 20px;">
        <span>Edit Mod</span>
        <span>
          <div class="switch">
            <input type="checkbox"
                   name="editModInp"
                   id="editModInp"
                   [checked]="boardS.editMod"
                   (change)="boardS.editMod = !boardS.editMod">
            <label for="editModInp" class="change-color"><i></i></label>
          </div>
        </span>
        <span></span>
      </div>
      <div class="settings__body-line">
        <span>Reset BORD's</span>
        <span>
          <div class="switch">
            <input type="checkbox"
                   name="resetBORD"
                   id="resetBORD"
                   (change)="resetBORD($event)">
            <label for="resetBORD" class="change-color"><i></i></label>
          </div>
        </span>
        <span></span>
      </div>
    </div>
  </div>
</div>

<!-- Bord -->

<div class="bord" [style.height.px]="winHeight * .95">

  <div class="left-side" #leftSide>
    <coffee-board-list-header [lineHeight]="lineHeight" [title]=""></coffee-board-list-header>
    <coffee-board-list [lineHeight]="lineHeight"
                    [listType]="'leftSideList'"
                    [list]="config[boardS.language].leftSideList"></coffee-board-list>
  </div>

  <div class="center-side" >
    <coffee-board-list-header [lineHeight]="lineHeight"
                       [title]="config[boardS.language].centerListCapuchinoTitle">
    </coffee-board-list-header>
    <coffee-board-list [lineHeight]="lineHeight"
                    [listType]="'centerListCapuchino'"
                    [list]="config[boardS.language].centerListCapuchino">
    </coffee-board-list>

    <coffee-board-list-header [lineHeight]="lineHeight"
                       [title]="config[boardS.language].centerListLateTitle">
    </coffee-board-list-header>
    <coffee-board-list [lineHeight]="lineHeight"
                    [listType]="'centerListLate'"
                    [list]="config[boardS.language].centerListLate">
    </coffee-board-list>
  </div>

  <!-- Right side -->

  <div class="right-side">
    <div class="right-side__item"
         [style.width.px]="rightColWidth"
         [style.height.px]="rightColWidth"
         *ngFor="let item of config[boardS.language].rightListLate">
      <span class="name" [innerHTML]="item.name"></span>
      <div class="product-image">
        <img src="{{ item.image }}" alt="">
      </div>

      <ul class="price-col">
        <li class="price-col__item"
            *ngFor="let price of item.price; let i = index;">
          <span *ngIf="price" class="price-col__item-wrapper">
            <input type="text"
                  value="{{ price }}"
                  (change)="saveNewValue($event, item, i, 'rightListLate')">
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
