
<coffee-board-bg [ngClass]="{'show': !boardS.staticBg}" class="bord-bg"></coffee-board-bg>

<!-- Logo -->

<div class="logo">
  <div class="logo-wrapp" [ngClass]="{'loaded': logoLoaded }">
    <label class="logo-wrapp__file-label"
           for="filesLogo">LOGO 200x80</label>
    <input type="file"
           id="filesLogo"
           class="logo-wrapp__file-input"
           (change)="uploadImage($event, uploadLogoImg)"/>
    <img id="image" #uploadLogoImg/>
<!--    <a href="" #linkDownload></a>-->
  </div>

  <!-- Settings  -->
  <coffee-board-settings></coffee-board-settings>
</div>

<!-- Bord -->

<div class="bord" [style.height.px]="winHeight * .95">

  <div class="left-side" #leftSide>
    <coffee-board-list-header [lineHeight]="lineHeight" [title]="">
    </coffee-board-list-header>
    <coffee-board-list [lineHeight]="lineHeight"
                    [listType]="'leftSideList'"
                    [list]="boardS.config[boardS.language].leftSideList">
    </coffee-board-list>
  </div>

  <div class="center-side" >
    <coffee-board-list-header [lineHeight]="lineHeight"
                       [title]="boardS.config[boardS.language].centerListCapuchinoTitle">
    </coffee-board-list-header>
    <coffee-board-list [lineHeight]="lineHeight"
                    [listType]="'centerListCapuchino'"
                    [list]="boardS.config[boardS.language].centerListCapuchino">
    </coffee-board-list>

    <coffee-board-list-header [lineHeight]="lineHeight"
                       [title]="boardS.config[boardS.language].centerListLateTitle">
    </coffee-board-list-header>
    <coffee-board-list [lineHeight]="lineHeight"
                    [listType]="'centerListLate'"
                    [list]="boardS.config[boardS.language].centerListLate">
    </coffee-board-list>
  </div>

  <!-- Right side -->

  <div class="right-side">
    <div class="right-side__item"
         [style.width.px]="rightColWidth"
         [style.height.px]="rightColWidth"
         *ngFor="let item of boardS.config[boardS.language].rightListLate">
      <span class="name" [innerHTML]="item.name"></span>
      <div class="product-image">
        <img [src]="item.image" alt="">
      </div>

      <ul class="price-col">
        <li class="price-col__item"
            *ngFor="let price of item.price; let i = index;">
          <span *ngIf="price" class="price-col__item-wrapper">
            <input type="text"
                  value="{{ price }}"
                  (change)="boardS.saveNewValue($event, item, 'rightListLate', i)">
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
