:host {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

:host /deep/ {

  .right-side .name {
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 600;
    color: #fff;
  }

}

.bord-bg {
  position: absolute;
  z-index: -1;
  display: none;

  &.show {
    display: block;
  }
}

header {
  width: 100%;  height: 5%;
  position: absolute;
  left: 0; top: 0;

  box-sizing: border-box;
}

.logo-wrapp {
  width: 100%; height: 100%;
  position: relative;
  border: 2px solid rgba(255,255,255,.7);
  border-radius: 6px;
  overflow: hidden;

  img {
    display: block;
    width: auto; height: 100%;
    position: absolute;
    top: 50%; left: 50%;

    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &__file-input {
    width: 100%; height: 100%;
    display: none;

    z-index: -1;
  }

  &__file-label {
    line-height: 68px;
  }

  &.loaded {
    border: 1px solid rgba(255,255,255,0);
    .logo-wrapp__file-label,
    .logo-wrapp__file-input {
      opacity: 0;
    }
  }
}

.logo {
  width: 200px; height: 10%;
  position: relative;
  margin-left: 25px;
  margin-top: 25px;

  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;

  border-radius: 4px;
  z-index: 12;
}

.bord {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.right-side {
  height: 100%;
  position: absolute;
  right: 0; top: 0;

  &__item {
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 95%; height: 2px;
      position: absolute;
      bottom: -1px; right: 0;

      background: rgba(255,255,255,.75);
    }

    .name {
      width: 100%; height: 32px;
      position: absolute;
      bottom: 0; left: 20px;

      line-height: 30px;

      .uppercase {
        font-size: 40px;
      }
    }

    .product-image {
      width: 55%; height: 100%;
      padding: 30px 0 0 10px;

      img {
        width: 100%;
      }
    }
  }
}

.center-side,
.left-side {
  width: 40%;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;

}

//
//.bord-list {
//  display: block;
//  width: calc(100% - 40px);
//
//  list-style: none;
//  padding-left: 10px;
//  margin-top: 100px;
//  margin-left: 40px;
//
//  border-top: 2px solid rgba(255,255,255,.75);
//  box-sizing: border-box;
//
//  &_bottom-border {
//    .bord-list__item:last-child {
//      border-bottom: 2px solid rgba(255,255,255,.75);
//    }
//  }
//  &__item {
//    position: relative;
//    display: block;
//    width: 100%;
//
//    border-bottom: 2px solid rgba(255,255,255,.75);
//    box-sizing: border-box;
//
//    &:last-child {
//      border-bottom: none;
//    }
//
//    .name {
//      display: block;
//      position: absolute;
//      top: 50%; left: 0;
//
//      color: #fff;
//      text-shadow: 1px 1px #000;
//      font-size: 15px;
//
//      transform: translate(0, -50%);
//
//      input {
//        width: 100%;
//        text-align: left;
//        font-weight: 400;
//        font-size: 1.4vw;
//      }
//    }
//
//    .price  {
//      position: absolute;
//      right: 0;
//
//      &__item {
//        position: relative;
//        display: inline-block;
//        width: 40px; height: inherit;
//
//        border-right: 2px solid rgba(255,255,255,.75);
//
//        &:hover {
//          background: rgba(255,255,255,.15);
//        }
//
//        &-wrapper {
//          display: block;
//          width: auto; height: auto;
//          position: absolute;
//          top: 50%; left: 50%;
//
//          font-size: 20px;
//          color: #fff;
//          font-weight: 600;
//          text-shadow: 1px 1px #000;
//
//          transform: translate(-50%, -50%);
//        }
//      }
//    }
//  }
//}


//
//.bord-list-header {
//  position: absolute;
//  width: 100%; height: 100px;
//
//  & > h3 {
//    position: absolute;
//    left: 60px; bottom: 10px;
//
//    color: #fff;
//    text-shadow: 2px 2px rgba(0,0,0,.75);
//    font-size: 40px;
//  }
//
//  .cap-line {
//    position: absolute;
//    right: 0; bottom: 0;
//
//    &__item {
//      position: relative;
//      display: inline-block;
//      width: 40px; height: inherit;
//
//      border-right: 2px solid rgba(255,255,255,.75);
//
//      &:first-child {
//        border-left: 2px solid rgba(255,255,255,.75);
//      }
//
//      &-wrapper {
//        display: block;
//        width: auto; height: auto;
//        position: absolute;
//        top: 50%; left: 50%;
//
//        font-size: 20px;
//        color: #fff;
//        font-weight: 600;
//        text-shadow: 1px 1px #000;
//
//        transform: translate(-50%, -50%);
//      }
//    }
//  }
//}
//
//
//.cap {
//  display: block;
//  width: 100%; height: 100%;
//
//  &-size {
//    display: inline-block;
//    width: 100%; height: auto;
//    position: absolute;
//    top: 50%; left: 50%;
//
//    color: #FFF;
//    text-shadow: 1px 1px #666;
//    text-align: center;
//    font-size: 14px;
//    line-height: 16px;
//
//    transform-origin: left top;
//    transform: translate(-50%, -50%) rotate(-7deg);
//  }
//
//  &_small {
//
//    img {
//      width: 38px;
//    }
//
//    .cap-size {
//      top: 51%; left: 48%;
//      font-size: 12px;
//    }
//  }
//
//  &_midle {
//    padding-bottom: 14px;
//
//    img {
//      width: 46px;
//    }
//
//    .cap-size {
//      top: 49%; left: 49%;
//      font-size: 15px;
//    }
//  }
//
//  &_large {
//    padding-bottom: 22px;
//
//    img {
//      width: 58px;
//    }
//
//    .cap-size {
//      font-size: 19px;
//      top: 46%;
//    }
//  }
//}


.price-col {
  width: 36px;
  height: auto;
  position: absolute;
  top: 0;
  right: 20px;
  list-style: none;

  &__item {
    margin-bottom: 10px;

    span {
      display: block;
      width: 36px; height: 36px;

      line-height: 38px;
      text-align: center;
      font-size: 22px;
      color: #fff;
      font-weight: 600;

      border-radius: 50%;
      background: #ff7070;
    }

    input[type="text"] {
      display: block;
      width: 100%; height: 100%;
      border-radius: 50%;

      &:focus {
        border: 3px solid #fff;
      }
    }
  }
}


/* SETTINGS */

.settings {
    width: 30px; height: 30px;
    position: absolute;
    right: -50px; top: 25px;

    overflow: visible;
    z-index: 10;

  &__button {
    width: 150%; height: 150%;
    position: absolute;
    right: -4px; top: -5px;
    
    padding: 3px 10px 10px 3px;

    border-radius: 50%;
    z-index: 11;

    &_open {
      background: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__body {
    width: 450px; height: 300px;
    position: absolute;
    left: -13px; top: -7px;

    padding-top: 40px;

    background: #fff;
    border-radius: 25px;
    box-shadow: -2px 2px 6px -2px #000;
    
    &:after {
      content: '';
      display: block;
      width: 98%; height: 96%;
      position: absolute;
      top: 2%; left: 1%;
      
      border-radius: 20px;
      border: 4px solid #e1e1e1;
      box-shadow: 0 0 10px -2px #000;

      box-sizing: border-box;
    }

    &-line {
      display: block;
      margin-top: 10px;
      .to-center {
        width: 100%; height: 40px;
      }
    }

    span {
      width: 33%;
      display: inline-block;
      
      text-align: center;
      line-height: 30px;
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
}

